body{width: 80%;
    margin: 0 auto;
    background-color:rgba(205, 216, 248, 0.308);
}
header{margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.page{
    margin: 0 auto;
}
h2{
    justify-content: flex-start;
}
.filter{
    justify-content:flex end;
}
.sort{ 
    justify-content:flex end;
}
.photogrid1{padding-right:200px;
    flex-direction: row;

    align-items: center;
    margin: 0 auto;
}
.photogrid2{padding-left:200px;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
